<form id="parts_inside" action="/users/edit" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <label for="username">Login</label>
    <input type="text" name="username" id="username">
    <label for="register_time">Register time</label>
    <input type="date" name="register_time" id="register_time">
    <label for="statues">Statues</label>
    <input type="number" name="statues" id="statues">
    <button id="edit" type="submit">Edit</button>
</form>
<small hidden>User edit form</small>