<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="statues_list :: header">
    <title>User</title>
</head>
<body hx-boost="true">
<div style="display: flex; justify-content: center; margin-top: 200px;">
    <span th:if="${error} != null" class="container pico-background-red-600" th:text="${error}"></span>
    <form action="/users/new" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="username">Login</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" _="on keyup send keyup to #repassword">
        <label for="repassword">Repeat password</label>
        <input type="password" name="repassword" id="repassword" _="on keyup set val to value of #password then
                    remove @aria-invalid from me then
                    add @disabled to #reg then
                    if my value is ''
                    else if val is my value set my @aria-invalid to 'false' then remove @disabled from #reg
                    else if val contains my value
                    else set my @aria-invalid to 'true'">
        <button id="reg" disabled="true" type="submit">Register</button>
    </form>
</div>
<small hidden>Add user</small>
</body>

</html>