<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Popedex App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <script src="/webjars/htmx.org/1.9.10/dist/htmx.min.js"></script>
    <script src="/webjars/hyperscript.org/0.9.12/dist/_hyperscript.min.js"></script>
</head>
<body hx-boost="true">
<header>
    <h1>
        Popedex!
    </h1>
</header>
<form action="/statues" method="get" class="tool-bar">
    <label for="search">Search Term</label>
    <input id="search" type="search" name="q" th:value="${q}"
           hx-get="/statues"
           hx-trigger="change, keyup delay:200ms changed"
           hx-target="tbody"
           hx-push-url="true"
           hx-indicator="#spinner"
           _="on keydown[altKey and code is 'KeyS'] from the window me.focus()"/>
    <img id="spinner" class="htmx-indicator" src="/img/spinning-circles.svg" alt="Request In Flight..."/>
    <input type="submit" value="Search"/>
</form>
<a href="/statues/new">Add new statue</a>
<form>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Location</th>
            <th>Unvailing date</th>
            <th>Pictures</th>
            <th>Show on map</th>
            <th></th>
        </tr>
        </thead>
        <tbody th:fragment="statue_rows">
            <tr th:each="statue: ${statues}">
                <td>
                    <input type="checkbox" name="selectedStatueIds" th:value="${statue.id()}" x-model="selected">
                </td>
                <td th:text="${statue.locationName()}"/>
                <td th:text="${statue.unveilingDate()}"/>
                <td></td>
                <td></td>
            </tr>
            <tr th:if="${statues.size() == 10}">
                <td colspan="5" style="text-align: center">
                <span hx-target="closest tr"
                    hx-trigger="revealed"
                    hx-swap="outerHTML"
                    th:hx-get="|/statues?q=${q}&page=${page+1}|">
                    Load More
                </span>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<small hidden>List of statues</small>
</body>
</html>
